*, *::after, *::before{
    box-sizing: border-box;
}

h1{
     font-size: 25px;
}

h2 {
    font-size: 15px;
    font-style: italic;
}


div {
    display: block;
    padding: 20px;
    margin: 20px auto;
}